<html>

<head>
  <title>7sala Home Page</title>
  <style>
    .content { 
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 20px;
    }
  </style>
</head>

<body>


  <h1 class="text text-center">7sala Application</h1>

  <br>
  <br>
  <br>
  <br>
  <br>

  <p class="text text-center content">
    First e-commerce app with the capability to do group ordering between friends,
    build your network of friends to help each others achieve your bigger orders,
    surprise your friends with your group collected gift
    and enjoy bonus while you are saving for your target order
  </p>

</body>

</html>